ion-card{
    width: 300px !important;
}

ion-label{
    font-size: 14px !important;
}

ion-button{
    height: 30px !important;
}

ion-item{
    font-size: 10px !important
}

ion-list{
    margin-top: -30px;
}