<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-item color="brc-details">
        <ion-label>Bloques {{fraccionado.bloques.length}}</ion-label>
        <ion-button (click)="addBloque()" shape="round">
          +1
        </ion-button>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item color="brc-details">
        <ion-label>
          <h3>Volumen Total</h3>
          <h3>{{suma}}</h3>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4" *ngIf="fraccionado.bloques.length > 1">
      <ion-item color="brc">
        <ion-label position="floating">Pausa e/ bloques</ion-label>
        <ion-input type="number" [(ngModel)]="fraccionado.pausaEntreBloques"
          [placeholder]="fraccionado.pausaEntreBloques"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="4" *ngIf="fraccionado.bloques.length > 1">
      <ion-item color="brc">
        <ion-label position="floating">Intensidad</ion-label>
        <ion-select [(value)]='fraccionado.intensidadPausa' interface="action-sheet"
          [(ngModel)]="fraccionado.intensidadPausa">
          <ion-select-option value="suave">Suave</ion-select-option>
          <ion-select-option value="moderado">Moderado</ion-select-option>
          <ion-select-option value="fuerte">Fuerte</ion-select-option>
          <ion-select-option value="muy_fuerte">Muy Fuerte</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="12" *ngFor="let bloque of fraccionado.bloques; let i=index">
      <ion-card color="brc-details">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="ion-text-left">
              <ion-item color="brc-details">
                <ion-label class="titulo">
                  Bloque {{i+1}}
                </ion-label>
                <ion-button (click)="removeBloque(i)" expand="block" fill="clear" shape="round">
                  Eliminar
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-item color="brc-details">
              <ion-label position="floating">Tipo Volumen</ion-label>
              <ion-select [(value)]='bloque.volTipo' interface="action-sheet" [(ngModel)]="bloque.volTipo">
                <ion-select-option value="distancia">Distancia (kms)</ion-select-option>
                <ion-select-option value="tiempo">Tiempo (min)</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <ion-item color="brc-details">
              <ion-label position="floating">Series</ion-label>
              <ion-input type="number" [(ngModel)]="bloque.series" [placeholder]="bloque.series"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item color="brc-details">
              <ion-label position="floating">Repeticiones</ion-label>
              <ion-input type="number" [(ngModel)]="bloque.repeticiones" [placeholder]="bloque.repeticiones">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item color="brc-details">
              <ion-label position="floating">Volumen</ion-label>
              <ion-input type="number" [(ngModel)]="bloque.vol" [placeholder]="bloque.vol" (ionChange)="sumar()">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item color="brc-details">
              <ion-label position="floating">Intensidad</ion-label>
              <ion-select [(value)]='bloque.intensidad' interface="action-sheet" [(ngModel)]="bloque.intensidad">
                <ion-select-option value="suave">Suave</ion-select-option>
                <ion-select-option value="moderado">Moderado</ion-select-option>
                <ion-select-option value="fuerte">Fuerte</ion-select-option>
                <ion-select-option value="muy_fuerte">Muy Fuerte</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item color="brc-details">
              <ion-label position="floating">D+</ion-label>
              <ion-input type="number" [(ngModel)]="bloque.desnivel" [placeholder]="bloque.desnivel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item color="brc-details">
              <ion-label position="floating">Tipo Terreno</ion-label>
              <ion-select [(value)]='bloque.terreno' interface="action-sheet" [(ngModel)]="bloque.terreno">
                <ion-select-option value="cakke">Calle</ion-select-option>
                <ion-select-option value="trail">Trail</ion-select-option>
                <ion-select-option value="mountain">Montaña</ion-select-option>
                <ion-select-option value="ruta">Ruta</ion-select-option>
                <ion-select-option value="sendero">Sendero</ion-select-option>
                <ion-select-option value="mixto">Mixto</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>