<!-- <ion-header [translucent]="true">
  <ion-toolbar color="brc">
    <ion-title>
      Biblioteca Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

 -->

<ion-content [fullscreen]="true" color="brc">
    <ion-searchbar (ionChange)="onSearchChange($event)" animated color="brc" [(ngModel)]="textoBusqueda"></ion-searchbar>
    <ion-toolbar color="brc">
        
        <ion-segment (ionChange)="segmentChanged($event)" scrollable mode="md" color="success" [ngModel]="segment.value">
                <ion-segment-button value="todos">
                    <ion-label>Todos</ion-label>
                </ion-segment-button>
                <ion-segment-button *ngFor="let categoria of categorias" [value]="categoria.categoria">
                        <ion-label>{{categoria.categoria}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
    </ion-toolbar>
    <ion-list *ngIf="ejercicios">
            <ion-item-sliding *ngFor="let ejercicio of ejercicios | busqueda:nombreEjercicioSearch:'categoria' | busqueda: textoBusqueda: 'nombre'" class="animated fadeIn fast">

        <ion-item color="brc">
            <ion-avatar slot="start" (click)="mostrarImagen(ejercicio)">
                <img [src]="ejercicio.foto" />
            </ion-avatar>
            <ion-label>{{ejercicio.nombre}}</ion-label>
            <ion-label>
                <h3>{{ejercicio.categoria}}</h3>
                <p>{{ejercicio.subcategoria}}</p>
            </ion-label>
        </ion-item>
        <ion-item-options side="start">
                <ion-item-option color="success" (click)="openEjercicioPopover(ejercicio)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="removerEjercicio(ejercicio)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="ejercicios">
        <ion-fab-button (click)="openEjercicioPopover()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list *ngIf="!ejercicios">
        <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,1,1,1,1]" color="brc">
            <ion-skeleton-text slot="start" animated style="width: 10%"></ion-skeleton-text>
            <ion-label>
                <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
            </ion-label>
            <ion-skeleton-text slot="end" animated style="width: 5%"></ion-skeleton-text>
        </ion-item>
    </ion-list>

</ion-content>