<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="brc">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon color="primary" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Entrenados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="brc">
  <app-clientes [clientes]="clientes"></app-clientes>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="agregarCliente()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>