ion-label{
    font-size: 12px !important;
}


ion-slide {
    width: 100% !important;
}

ion-slides{ 
    width: 100% !important;
}

ion-segment{
    width: 100% !important;
}

ion-toolbar{
    width: 100% !important;
}

ion-img{
    height: 50px !important;
    width: 50px !important;
}

// p{
//     font-size: 9px !important;
// }