ion-img{
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
    
    // border:3px solid #3880ff;
}

.detallePlan{
    border-radius: 5%;
    margin-top: 20px !important;
    background-color: #313233 !important;
}