ion-list{
    background-color: var(--ion-color-brc-details) !important
}

.nuevo-ejercicio-boton{
    font-size: 30px !important;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 100;
    // background-color: #1ba567;
    color: white !important;
}


.nuevo-ejercicio-boton:hover{

    color: rgb(9, 37, 9) !important;
}
