<ion-header>
  <ion-toolbar color="brc">
    <ion-buttons slot="end">

      <ion-button class="brc-buttons">
          <ion-icon name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
        <ion-button (click)="close()" color="danger">
            <ion-icon name="close-circle-outline"></ion-icon>        
          </ion-button>
      </ion-buttons>

    <ion-title class="ion-text-center">{{cliente.nombre}}, {{cliente.apellido}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="brc">
  <ion-list color="brc">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="7">
          <ion-item color="brc" lines="none">
            <ion-icon slot="start" name="fitness-outline"></ion-icon>
            <ion-label position="floating">Tipo Entrenamiento</ion-label>
            <ion-select value="Funcional" color="brc" (ionChange)="actualizarNumeroPlan($event)"
              [(ngModel)]="plan.tipo">
              <ion-select-option *ngFor="let desc of tiposPlan" [value]="desc">{{desc}}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col size="5">
          <ion-item color="brc" lines="none" *ngIf="plan.tipo">
            <ion-label>
              <h3>Plan número:</h3>
              <p>{{numeroPlan}}</p>
            </ion-label>

          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item color="brc" lines="none">
            <ion-icon slot="start" name="calendar-outline"></ion-icon>
            <ion-label position="floating">Fecha de Inicio</ion-label>
            <ion-datetime display-format="DD-MM-YYYY" [(ngModel)]="plan.fecha_inicio"
              (ionChange)="calcularFechaVto($event)">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="brc" lines="none" *ngIf="fechaVto">
            <ion-label>
              <h3>Vto:</h3>
              <p>{{fechaVto | date:'dd-MM-yyyy'}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item color="brc" lines="none">
              <ion-icon slot="start" name="cash-outline"></ion-icon>
            <ion-label position="floating">Valor</ion-label>
            <ion-input type="number" [(ngModel)]="plan.valor"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="brc" lines="none">
            <ion-label>Pagado</ion-label>
            <ion-checkbox color="brc" [(ngModel)]="plan.pagado"></ion-checkbox>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <ion-item color="brc">
                  <ion-label position="floating">Objetivos Generales</ion-label>
                  <ion-textarea [(ngModel)]="plan.objetivos_generales"></ion-textarea>
                </ion-item>
  
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item color="brc">
                    <ion-label position="floating">Objetivos Especificos</ion-label>
                    <ion-textarea [(ngModel)]="plan.objetivos_especificos"></ion-textarea>
                  </ion-item>
    
            </ion-col>
          </ion-row>
    </ion-grid>
  </ion-list>
  <ion-row>
    <ion-col size="12">
      <ion-button *ngIf="!creando" (click)="crearPlan()" expand="block" class="brc-buttons-alerts" color="brc-details"
        shape="round">
        Guardar
      </ion-button>


    </ion-col>
    <ion-col *ngIf="creando" size="12">
      <div class="ion-text-center">
        <ion-spinner color="success" name="crescent"></ion-spinner>
      </div>

    </ion-col>
  </ion-row>
</ion-content>