
.pick-avatar {
    width: 80px;
    opacity: 0.3;
    font-size:12px;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 16px !important;

}

h2{
    font-weight: bold;
}


ion-img{
    border-radius: 50%;
    height: 70px !important;
    width: 70px !important;
    
    // border:3px solid #3880ff;
}

.plandetail{
    margin-top: 10px !important;

}

.tipoentreno{
    font-size: 20px !important;
}

.container{
    background-color: var(--ion-color-brc-details) !important;
    border-radius: 10% !important;
}
.subtitulo{
    margin-top: 5px;
    font-size: 16px !important;
    color: #1ba567 !important;
    // text-shadow: 0px 3px 10px rgba(27,165,103,0.82) !important;

}

.labels{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    // color: #1ba567 !important;
    // text-shadow: 0px 3px 10px rgba(255, 255, 255, 0.82) !important;

}

.week{
    opacity: 0.3;

    // text-shadow: 0px 7px 10px rgba(255,255,255,0.82) !important;
}

.week:hover{
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}
ion-button{
    color:#1ba567 !important;
 
}

.microciclo-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

.detallePlan{
    border-radius: 5%;
    margin-top: 20px !important;
    background-color: #313233 !important;
}

.semanas:hover{
    cursor: pointer !important;
    transition: opacity 0.5s linear;
    background-color: #1ba5671e;
    border-radius: 50% !important;
    opacity: 1 !important;
    font-size: 20px !important;
}

.detalleIcons{
    --box-shadow: 0px 0px 10px 8px rgb(79, 80, 80) !important;
    font-size: 20px !important;
}


.icons-detail{
    height: 50px !important;
    width: 50px !important;
}

ion-progress-bar{
    height: 12px !important;
}

ion-slides{
    padding-left: 10px !important;
    padding-right: 10px !important;
}