<ion-header>
    <ion-toolbar color="secundario">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Perfil del corredor</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="primario">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="6" size-lg="4" class="ion-no-padding">

          <app-cliente-profile *ngIf="!loading" [cliente]="cliente"></app-cliente-profile>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="6" size-lg="4" class="ion-no-padding" *ngIf="cliente.planes">
          <app-planes-card [planesVigentes]="cliente.planes" (cambiarPlan)="seleccionarPlan($event)"></app-planes-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="6"  size-lg="4" *ngIf="cliente.planes">
          <app-plan-stats-card [plan]="planSeleccionado"></app-plan-stats-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-md="6" size-lg="6" *ngIf="cliente.planes">
          <app-microciclos-card-detail [microciclos]="planSeleccionado.microciclos"></app-microciclos-card-detail>
          </ion-col>
      </ion-row>

    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openNuevoPlan()" color="detalles">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

  </ion-content>

 