
.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img{
    height: 200px !important;
    width: 200px !important;
}

ion-list{
    background-color: var(--ion-color-brc) !important;
}