<ion-content color="primario">


  <ion-slides class="mainSlide" #slidePrincipal>
    <ion-slide>
      <form (ngSubmit)="login( flogin )" #flogin="ngForm">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img src="/assets/imgs/brclogo.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list color="primario">
                <ion-item color="primario">
                  <ion-label>Email</ion-label>
                  <ion-input name="email" type="email" required [(ngModel)]="loginUser.email"></ion-input>
                </ion-item>

                <ion-item color="primario">
                  <ion-label>Password</ion-label>
                  <ion-input name="password" type="password" required [(ngModel)]="loginUser.password"></ion-input>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit" color="detalles" shape="round" *ngIf="!iniciandoSesion">
                Login
              </ion-button>
              <ion-spinner color="detalles" *ngIf="iniciandoSesion" name="bubbles"></ion-spinner>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>



    </ion-slide>
  </ion-slides>
</ion-content>