ion-icon{
    font-size: 30px !important;
}

.ion-item-background{
    background-color: #313233 !important;
}

ion-img{
    margin: auto !important;
    height: 30px !important;
    width: 30px !important;
}