ion-item {
    --background-hover: #efefef !important;
    --background-activated: #efefef !important;
    cursor: pointer;
  }
  

  .fechaInput{
    font-size: 12px !important;
  }

  ion-list{
    background-color: var(--ion-color-cuaternario) !important;
  }

  strong{
    color: #18A2F2 !important;
  }

  span{
    color: rgb(69, 174, 235) !important;
  }